#storeFile=upload-keystore.jks
#storePassword=ZMIEN_HASLO_STORE
#keyAlias=upload
#keyPassword=ZMIEN_HASLO_KEY

# 1. Wygeneruj keystore (raz):
# keytool -genkey -v -keystore upload-keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias upload
#
# 2. Skopiuj ten plik do keystore.properties w katalogu głównym projektu
#    i uzupełnij wartości (keystore.properties jest w .gitignore).
#
# 3. Połóż upload-keystore.jks w katalogu głównym projektu (też w .gitignore).
